%h1 Metrics

= form_tag metrics_path, :method => 'post' do
  = text_field_tag :name, params[:name], :placeholder => 'name', :class => 'metric-name'
  = text_field_tag :value, params[:value], :placeholder => 'value', :class => 'metric-value'
  = submit_tag raw('&#x21a9;')

.recent-metrics
  - view_model.recent_metrics.each do |metric|
    .metric
      .metric-date
        = time_ago_in_words(metric.occurred_at)
        ago
      .metric-name= link_to metric.name, :action => 'show', :id => metric.name
      .metric-value= metric.value
