%h1 Metrics

= link_to "<< Back", :action => "index"

%h2= view_model.metric.name

.graph-placeholder{:class => params[:style].to_s}

%ul
  %li= link_to "normal", :style => nil
  %li= link_to "total by month", :style => "by_month"
  %li= link_to "total by year", :style => "by_year"
  %li= link_to "year vs year", :style => "year_v_year"


%table.metrics
  %thead
    %tr
      %th Date
      %th= view_model.metric.name
  %tbody
    %tr
      %td
      %td
        = form_tag metrics_path, :method => 'post' do
          = hidden_field_tag :name, view_model.metric.name
          = hidden_field_tag :return_to, "show"
          = text_field_tag :value, params[:value], :placeholder => 'value', :class => 'metric-value'
          = submit_tag raw('&#x21a9;')
    - view_model.values.each do |value|
      %tr.data-point{"data-x" => value.occurred_at, "data-y" => value.value}
        %td
          %time{:title => value.occurred_at}
            = time_ago_in_words(value.occurred_at)
          ago
        %td
          = value.value
        %td.confirmable
          .question
            %span.link.danger.to-confirm -
          .confirmation
            Are you sure?
            = link_to "Yes", value, :method => 'delete', :class => "danger"
            %span.link.cancel No
