%h1 Metrics

= link_to "<< Back", :action => "index"

%h2= view_model.metric.name

.graph-placeholder{:class => params[:style].to_s}

%ul
  %li Integrals
  %li= link_to_style "normal", nil
  %li= link_to_style "total by week", "by_week"
  %li= link_to_style "total by month", "by_month"
  %li= link_to_style "total by year", "by_year"
  %li= link_to_style "year vs year", "year_v_year"
  %li Derivative
  %li
    = link_to_style "rate per week", "per_week"
    = surround '(', ')' do
      = link_to_style "negative", "per_week_negative"
    = surround '(', ')' do
      = link_to_style "positive", "per_week_positive"


%table.metrics
  %thead
    %tr
      %th Date
      %th= view_model.metric.name
  %tbody
    %tr
      %td
      %td
        = form_tag metrics_path, :method => 'post' do
          = hidden_field_tag :name, view_model.metric.name
          = hidden_field_tag :return_to, "show"
          = text_field_tag :value, params[:value], :placeholder => 'value', :class => 'metric-value'
          = submit_tag raw('&#x21a9;')
    - view_model.values.each do |value|
      %tr.data-point{"data-x" => value.occurred_at, "data-y" => value.value}
        %td
          %time{:title => value.occurred_at}
            = time_ago_in_words(value.occurred_at)
          ago
        %td
          = value.value
        %td.confirmable
          .question
            %span.link.danger.to-confirm -
          .confirmation
            Are you sure?
            = link_to "Yes", value, :method => 'delete', :class => "danger"
            %span.link.cancel No
